<ion-header>

  <ion-navbar>
    <ion-title text-center>Categories</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <button ion-item 
            *ngFor="let category of categoryList"
            [navPush]="passListPage"
            [navParams]="category">{{category.title}}
      <ion-icon [name]="category.icon" item-left></ion-icon>
      <p item-right>{{category.counter}}</p>
    </button>
  </ion-list>
  <ion-fab bottom right>
    <button ion-fab color="light" mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab *ngFor="let category of categoryList" (click)="onAddItem(category.page, category.title)">
        <ion-icon name={{category.icon}}></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
