<ion-header>
    <ion-navbar>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons end>
            <button ion-button (click)="onAddItem(category.page)">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <button ion-item *ngFor="let passItem of passList" (click)="onShowDetails(passItem)">
            <h1>{{passItem.title}}</h1>
            <p *ngIf="isLoginPage()">Username: {{passItem.username}}</p>
            <p *ngIf="isPasswordPage()">Password: {{passItem.password}}</p>
            <p *ngIf="isEmailPage()">Email Address: {{passItem.emailadd}}</p>
            <p *ngIf="isBankPage()">Bank Account: {{passItem.account}}</p>
            <p *ngIf="isPassportPage()">Passport Number: {{passItem.passportNum}}</p>
            <p *ngIf="isNotePage()">Notes: {{passItem.note}}</p>
            <!-- <p>Password: {{passItem.password}}</p>             -->
            <!-- <ion-icon 
                name="ios-star-outline" 
                item-right 
                (click)="onFavourite(passItem)"></ion-icon> -->
            <!-- <ion-icon 
                name="star" 
                item-right 
                (click)="onUnFavourite(passItem)"></ion-icon> -->
        </button>
    </ion-list>
</ion-content>